.money-container {
  background-color: $accent;
  color: $text;
  text-align: center;
  .title-block {
    margin-bottom: 30px;
    span {
      color: $white;
    }
  }
  .content {
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.money-item-title,
.money-item-heder {
  color: $white;
}
.money {
  padding: 30px 10px;
  @media (min-width: 767px) {
    padding: 50px 10px;
  }
  @media (min-width: 960px) {
    padding: 140px 5px;
  }
}
.money-block {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.money-item {
  width: 25%;
  ul {
    margin: 0;
    padding: 0;
  }
  .money-rate {
    transition: background-color 0.7s;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
      .money-buy-link {
        background-color: $accent;
      }
    }
  }
  li {
    list-style: none;
    padding: 35px 0 5px;
    border-bottom: 1px solid $border-top;
  }
  .money-item-heder {
    padding: 30px 0;
    border: none;
    .money-buy-link {
      display: none;
    }
  }
  .money-buy {
    border: none;
    padding: 25px 0 40px;
  }
  .money-buy-link {
    color: $black;
    padding: 8px 20px;
    text-decoration: none;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    transition: background-color 0.7s;
  }
  @media (max-width: 960px) {
    width: calc(100% / 3);
  }
  @media (max-width: 767px) {
    width: 100%;
    text-align: left;
    .money-item-heder {
      padding: 15px 0;
      .money-buy-link {
        display: block;
        float: right;
      }
    }
    .money-rate {
      padding-right: 20px;
      padding-left: 20px;
    }
    .money-rate.opened li:not(:last-child) {
      display: block;
    }

    li {
      padding: 15px 0;
      border: none;

      &:not(:first-child) {
        display: none;
      }
    }
  }
}
.included {
  display: none;
  cursor: pointer;
  @media (max-width: 767px) {
    display: block;
  }
}
.money-item-title {
  @media (max-width: 960px) {
    display: none;
  }
}
